html, #page { padding:0; margin:0;}
body { margin:0; padding:0; width:100%; color:#2c2c2d; font:normal 16px/2.0em "Libre Baskerville","Georgia","Garamond", Serif;}
p {font-family: "Libre Baskerville","Georgia", "Garamond", Serif;font-size: 16px;}
figcaption {font-family: "Libre Baskerville", Georgia, Garamond, Serif; font-size: 12px; text-decoration: overline;padding-top: 1px;}
#page { background:#f2f2f2;}
#header, #footer, #top-nav, #content, #content #contentbar, #content #sidebar { margin:0; padding:0;}
img {
	max-width: 100%;
	height: auto;
    width:90%;
    padding-left: 0;
	display: block;
	margin-right: auto;
}
figure {
	display: contents;
}
figure:hover img {opacity: 0.75;}
img, figcaption {display: table-row;padding-top: 1px;}

h1,h2,h3,h4,h5,h6 {
	font-family: "Palatino Linotype","Palatino","Baskerville", Serif;
	font-weight: 300;
	font-variant-ligatures: discretionary-ligatures;
}
/* Logo */
#logo { padding:0; width:auto; float:left;padding-left: 50px;}
#logo h1 a, h1 a:hover {text-decoration:none;color: #4c4c4f;}


/* Header */
#header { background:#fff;}
#header-inner { margin:0 auto; padding:0; width:90%;}
#header a {
	color:#4c4c4f;
	font-family: "Palatino Linotype","Palatino","Baskerville",Serif;
	font-weight: 300;
}


/* Menu */
#top-nav {
	height:37px;
	padding:12px 0px 0px 0px;
	float:right
}
#top-nav a {
	margin:0;
	padding:8px 10px;
	text-decoration:none;
	float: left;
	color: black;
	text-align: center;
	padding: 12px;
	text-decoration: none;
	font-size: 18px;
	line-height: 25px;
	border-radius: 4px;
    text-align: center;
}
#top-nav a.active{background-color: #ccc;}
#top-nav a:hover{
	background-color: #ddd;
	color: black;
}
/* Sidebar */


/* Content */
#content {
	margin: auto;
	width: 60%;
}
#content .content-item {}
#content .content-item .content-header {padding-left: 0%}
#content .content-item .content-side {
	display: block;
	float: left;
	width: 23%;
	padding-top: -10px;
	padding-right: 10px;
	font-size: 14px;
	font-style: italic;
	border-right: groove;
	text-align: justify;
    text-justify: inter-word;
}
#content .content-item .article {
	display: block;
	float: right;
	width: 74%;
    text-align: justify;
    text-justify: inter-word;
}

/* Footerblurb */
#footerblurb { background:#eee;}
#footerblurb-inner { margin:0 auto;  padding:24px;}
#footerblurb .column { margin:0; text-align:justify; float:left;width:250px;padding:0 24px;}

/* Footer */
#footer { background:#f2f2f2;}
#footer-inner { margin:auto; text-align:center; padding:12px; width:100%;}
#footer a {text-decoration:none;}

/* Tables */
tr:nth-child(even) {
	background-color: #ddd
}
tr:hover {background-color: #ccc;}
th {text-align: left;}
td {border: none;}
table {
    width: auto;
}
/* Clear both sides to assist with div alignment  */
.clr { clear:both; padding:0; margin:0; width:100%; font-size:0px; line-height:0px;}
hr {
	border:none;
	height: 10px;
	width: 100%;
	margin-top: 0;
	border-bottom: 1px solid #e8e5e5;
	box-shadow: 0 20px 6px -20px #333;
	margin: -50px auto 10px;
}
@media screen and (max-width:800px) {
	/* For mobile phones: */
    #header {height: 360px}
	#header-inner {width: 96%;}
	#header-inner #top-nav a {
		float: none;
		display: block;
		text-align:center;
	}
	nav, .article, .right {
		width:100%;
	}
	#content .content-item .content-side {
		width: 100%;
		border-right: none;
		border-bottom: ridge;
		float: left;
	}
	#content .content-item .article {
		width: 100%;
		border-right: none;
		float: left;
	}
	#content {width: 90%;}
	figure {
		float: left;
		display: contents;
        width: 100%;
	}
	#logo {
		float: none;
		display: block;
		text-align: center;
		padding-left: 0px;
	}
	#top-nav {
		float: none;
		display: block;
		text-align: left;

	}
}
