/*

Template 2083 Steak House

http://www.tooplate.com/view/2083-steak-house

*/
body{
    font:16px 'Palatino Linotype',serif;
    color:#000;
    background: #eee;
    text-align:left;
    margin:0 33px;
}

html,body {

  overflow-x: hidden;
}

html {
  font-size: 100%;
}
/* Style the header with a grey background and some padding */
.header {
  overflow: hidden;
  background-color: #fff;
  padding: 20px 10px;
}

/* Style the header links */
.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
  font-size: 25px;
  font-weight: bold;
  background-color: #eee;
}

/* Change the background color on mouse-over */
.header a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active/current link*/
.header a.active {
  background-color: dodgerblue;
  color: white;
}

/* Float the link section to the right */
.header-right {
  padding-left: 290px;

}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}
header {
  background-color: #fff;
  color: #757575;
  padding-top: 10px;
  padding-bottom: 10px;
}

header h1 {
    font-size: 20px;
}

/* Typography */
h1,h2,h3, .btn {
  font-family: georgia, sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
}

h1 {
  font-weight: bold;
  font-size: 100px;
}

h2 {
  color: #333;
  font-size: 40px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-top: 8px;
}

h3 {
  color: #444;
  font-size: 20px;
  line-height: 12px;
  letter-spacing: 1px;
  padding-bottom: 0px;
}

h4 {
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 400;
}

p {
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 28px;
  text-indent: 0px;
}

a {
  text-decoration: none !important;
}
a:visited,
a:focus {
  outline: none;
  text-decoration: none !important;
}

main {
    width: 80%;
}

section {
    max-width: 73%;
    position: absolute;
    height: 70px;
    width: 600px;
    margin: -100px 0 0 -100px;
    top: 50%;
    left: 30%;
}


/* Footer section  */
footer {
  background-color: #141414;
  color: #757575;
  padding-top: 100px;
  padding-bottom: 100px;
}

footer h3 {
  color: #ffffff;
  text-transform: uppercase;
  padding-bottom: 14px;
}

footer strong {
  color: #f0f0f0;
  font-size: 20px;
  display: block;
  padding-top: 6px;
  padding-bottom: 2px;
}


/* copyright section  */
#copyright p {
  padding: 20px;
}

.gototop {
  background-color: #242424;
  color: #ffffff;
  font-size: 40px;
  padding: 20px 32px;
  text-align: right;
  transition: all 0.4s ease-in-out;
}
.gototop:hover {
  background-color: #c21500;
  color: #fff;
}

/* social icon section  */
.social-icon {
  padding: 0;
  margin: 0;
}

.social-icon li {
  list-style: none;
  display: inline-block;
}

.social-icon li a {
  border-radius: 100px;
  color: #626262;
  font-size: 18px;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  margin-bottom: 12px;
  margin-right: 10px;
}

.social-icon li a:hover {
  background: #111;
  color: #ffffff;
}



/* Mobile Responsive */
@media (max-width: 980px) {

  #home {
    height: 65vh;
  }

  #feature .col-md-4:last-child,
  #about .col-md-4 {
    margin-top: 42px;
  }

  #team .team-thumb {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  #team .join-team {
    padding: 71px 50px;
    margin-top: 20px;
  }

}


@media (max-width: 900px) {

  h1 {font-size: 70px;}

}


@media (max-width: 768px) {

  .navbar-default .navbar-brand {
    line-height: 46px;
  }

}

@media (max-width: 767px) {

  .navbar-default .navbar-brand {
    line-height: 15px;
  }
  .navbar-default .navbar-nav li a {
    line-height: 30px;
  }

  #feature .col-md-4,
  #about .col-md-5,
  footer .col-md-4 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .filter-wrapper {
    padding: 0px;
  }

}

@media (max-width: 650px) {

  #home {
    height: 100vh;
  }

  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 30px;
  }

  #feature {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  #about,
  #feature,
  #video,
  #menu,
  #team,
  #gallery,
  #contact {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  #menu .media-object img {
    width: 100%;
    padding-bottom: 14px;
  }
  #menu .media-object span.menu-price {
    top: 30%;
    left: 6%;
  }

  footer {text-align: center;}

}
